<p>Here is a list of products</p>

<% @products.each do |product| %>
<ul>
  <li><a href="/products/<%= product.name %>"></a><ul>
  <%= product.price %>
  <%= product.description %></ul></li>
 </ul>
<% end %>

<%# 
t.string "name"
    t.decimal "price", precision: 8, scale: 2
    t.string "image_url"
    t.text "description" %>