<form action="/products" method="post">
<p>Product name: <input type="text" name="name"></p>
<p>Price: <input type="text" name="price"></p>
<p>Product description: <input type="text" name="description"></p>

<input type="submit" value="Add a product">
</form>


