<form action="/products" method="post">
<p>Product name: <input type="text" name="name"></p>
<p>Price: <input type="text" name="price"></p>
<p>Product description: <input type="text" name="description"></p>
<p>
<label for="suppliers">Choose a supplier</label>

<select id="suppliers" name="supplier_id">
<% @suppliers.each do |supplier| %>
  <option value="<%= supplier.id %>"><%= supplier.name %></option>
  <% end %>
</select>
</p>
<input type="submit" value="Add a product">
</form>


